* {
  font-family: 'helvetica neue', arial, helvetica;
}

html {
  background: #efefef;
}

.rtl {
  direction: rtl;
}

body {
  background: white;
  color: #212121;
  margin: 0;
  padding-top: 60px;
}

.wrap {
  max-width: 660px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 38px;
  font-weight: 200;
}

h2 {
  font-size: 28px;
  font-weight: 200;
  margin-top: 50px;
}

p {
  line-height: 25px;
  font-size: 18px;
  text-align: justify;
}

a {
  color: blue;
}

em {
  font-weight: 400;
}

.footer {
  padding: 40px 0;
  background: #efefef;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
}

.footer p {
  text-align: left;
}